<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>launchui</string>
    <key>CFBundleExecutable</key>
    <string>launchui</string>
    <key>CFBundleIconFile</key>
    <string>launchui.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>org.mimec.launchui</string>
    <key>CFBundleVersion</key>
    <string>0.1.2</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.2</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
